.to-do-list{
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}

h1{
    font-size: 4rem;
}
button{
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.add-button{
    background-color: rgb(49, 40, 90);
}
.add-button:hover{
    background-color: rgb(78, 62, 151);
}
.delete-button{
    background-color: rgb(155, 20, 20);
}
.delete-button:hover{
    background-color: rgb(102, 14, 14);
}
input[type="text"]{
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid rgb(136, 136, 136);
    border-radius: 5px;
    color: rgb(151, 150, 150);
}
ol{
    padding: 0;
}
li{
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: rgb(219, 219, 219);
    margin-bottom: 10px;
    border: 3px solid rgb(136, 136, 136);
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.text{
    flex: 1;
}
.delete-button{
    padding: 8px,12px;
    font-size: 1.4rem;
    margin-left: 10px;
}
